/* Global Attributes */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-size: 100%;
  font-family: sans-serif;
  background-color: whitesmoke;
}
#main {
  transition: margin-left .5s;
  padding: 0px;
}
/* sidebar styles */
hr{
  margin: 30px 0;
  border-style: solid;
  border-width: 1.5px;
  clear: both;
}
.sideNav {
  height: 800px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 50px;
}
.navLinks a {
  padding: 5px 0;
  text-decoration: none;
  color: black;
  text-indent: 30px;
  text-transform: uppercase;
  display: block;
}
.navLinks a:hover {
  background-color: black;
  color: whitesmoke;
}
.openBtn{
  position: fixed;
  top: 10px;
  left: 20px;
}
.openBtn img{
  width: 60px;
}
.closeBtn {
  position: absolute;
  top: 5px;
  right: 0;
}
.closeBtn img{
  width: 60px;
  margin-bottom: 5px;
}
.logo{
  position: absolute;
  top: 100px;
  right: 130px;
}
.logo img{
  width: 100px;
}
.logo img:hover, .logo img:focus{
  animation: logo-flip;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes logo-flip {
  from {transform:  rotateY(0deg);}
  to {transform:  rotateY(360deg);}
}
.dateLogo{
  width: 100%;
}
.dateTime{
  margin: 0 30px 30px 0;
  padding: 18px 20px 20px 20px;
  width: 70px;
  height: 80px;
  font-size: 0.5em;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: whitesmoke;
  color: black;
  border: 3px solid black;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  float: right;
}
.dateTime:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: black whitesmoke;
}
.namePlate{
  margin: 0 10px;
  padding: 20px 0;
  background-color: whitesmoke;
  color: black;
  border: 3px solid black;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.namePlate:hover{
  background-image: url("Images/ron-1.gif");
  background-repeat: no-repeat;
  background-position: center;
}
.namePlate:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: black whitesmoke;
}
.namePlate h2{
  padding: 0 0 10px 0;
  font-size: 1.50em;
  letter-spacing: 3px;
}
.namePlate p{
  font-size: 0.5em;
}
.socialLinks{
  position: fixed;
  display: block;
  padding: 0;
  margin: 0;
  right: 25px;
  bottom: 125px;
  height: 150px;
  width: 60px;
}
.socialLinks ul{
  margin: 0;
  padding: 0;
  text-align: center;
}
.socialLinks li{
  list-style: none;
  display: inline;
  width: 60px;
  height: 60px;
}
.socialLinks a, .socialLinks img{
  width: 60px;
  height: 60px;
}

/* Index Styles */
.mainWrapper{
  margin: 0;
  padding: 0;
  height: 100vh;
}
.splash{
  height: 100vh;
  overflow-x: hidden;
}
.splashWrapper{
  margin: 0 auto;
  height: 100%;
  width: 500px;
}
.splashCanvas{
  position: absolute;
  top: 25%;
  height: 500px;
  width: 500px;
  border: 3px solid blue;
  transform: rotate(-45deg);
  background-color: whitesmoke;
  z-index: 100;
}
.rBox2{
  position: absolute;
  top: 26%;
  height: 500px;
  width: 500px;
  border: 3px solid blue;
  background-color: whitesmoke;
  transform: rotate(-45deg);
}
.rBox{
  position: absolute;
  top: 27%;
  height: 500px;
  width: 500px;
  border: 3px solid blue;
  background-color: whitesmoke;
  transform: rotate(-45deg);
}
.GridParent{
  margin: 0 auto;
  padding-bottom: 100px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  width: 75%;
}
.GridItem-square{
  background: white;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  text-align: left;
  margin: 2.5px;
  width: 100%;
  min-width: 275px;
  max-width: 1005px;
  position: relative;
}
.GridItem-square .GridItem-image {
  display: block;
  width: 100%;
  height: auto;
}
.GridItem-square .GridItem-imageWrapper {
  margin: 0;
  float: left;
  width: 50%;
}
.GridItem-square .GridItem-content {
  float: right;
  width: 50%;
  padding: 10px;
}
.GridItem-landscape{
  flex-grow: 2;
  flex-basis: auto;
  background: white;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  text-align: left;
  margin: 2.5px;
  width: 50%;
  min-width: 275px;
  max-width: 500px;
  position: relative;
}
.GridItem-landscape .GridItem-image {
  display: block;
  width: 100%;
  height: auto;
}
.GridItem-landscape .GridItem-imageWrapper {
  margin: 0;
  width: 100%;
}
.GridItem-landscape .GridItem-content {
  height: 300px;
  padding: 10px;
}
.GridItem-square a, .GridItem-landscape a{
  text-decoration: none;
  color: goldenrod;
  padding: 0;
  margin: 0;
}
.GridItem-square .GridItem-link,.GridItem-landscape .GridItem-link {
  overflow: hidden;
  display: block;
}
.GridItem-square .GridItem-link:hover, .GridItem-landscape .GridItem-link:hover {
  background: blue;
  text-shadow: none;
  color: white;
}
.GridItem-title{
  width: 100%;
  padding: 2px;
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 25px;
  color: goldenrod;
}
.contactLinks a{
  padding: 20px;
  display: block;
  text-align: center;
}

/* page styles */
.page{
  margin: 100px auto 100px auto;
  width: 75%;
  text-align: center;
}
.pageHeader{
  margin: 0 auto;
  padding: 0 0 50px 0;
  font-size: 25px;
  color: black;
  width: 100%;
  min-width: 300px;
  max-width: 1005px;
  text-transform: uppercase;
  text-align: left;
}
.GridItem-opposite .GridItem-image {
  display: block;
  width: 100%;
  height: auto;
}
.GridItem-opposite .GridItem-imageWrapper {
  margin: 0;
  float: right;
  width: 50%;
}
.GridItem-opposite .GridItem-content {
  float: left;
  width: 50%;
  padding: 10px;
}
.cinemaContainer{
	margin: 0 auto;
  width: 100%;
  min-width: 250px;
  max-width: 1005px;
}
.cinema{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0;
	height: 0;
}
.cinema iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.pageImage{
  height: auto;
  width: 100%;
  min-width: 250px;
  max-width: 1005px;
}
.pageLink{
  text-align: left;
  margin-top: 50px;
}
.pageDetails{
  margin: 0 auto;
  padding: 0 0 50px 0;
  text-align: left;
  color: black;
  width: 100%;
  min-width: 200px;
  max-width: 1005px;
}
.pageDetails p, .pageDetails blockquote{
  padding: 50px 0;
}
.pageDetails ul{
  list-style: none;
}
.pageDetails a{
  text-decoration: none;
  color: black;
}
.pageDetails .pageLink a{
  color: goldenrod;
}
.pageDetails a:hover{
  text-decoration: underline;
}
.advance {
  position: relative;
  margin: 0 auto;
  padding: 0;
  font-size: 100px;
  text-align: center;
  width: 150px;
}
.advance a{
  text-decoration: line-through;
}


/* responsive styles */
@media only screen and (min-width: 875px) and (max-width: 1280px){
  .splash{
    margin: 0 auto;
    height: 100vh;
    width: 300px;
  }
  .splashCanvas{
    height: 300px;
    width: 300px;
  }
  .rBox2{
    height: 300px;
    width: 300px;
  }
  .rBox{
    height: 300px;
    width: 300px;
  }
}
@media only screen and (max-width: 875px){
  hr, .namePlate, .logo, .dateTime, .copyright{
    display: none;
  }
  .openBtn{
    left: 5px;
  }
  .openBtn img{
    width: 35px;
  }
  .closeBtn img{
    width: 35px;
  }
  .navLinks{
    z-index: 1000;
  }
  .navLinks a {
    text-align: center;
    padding: 30px 0;
    text-indent: 0;
    font-size: 25px;
    font-weight: bold;
    background-color: blue;
    color: whitesmoke;
    z-index: 1000;
  }
  .navLinks a:hover{
    background-color: whitesmoke;
    color: black;
  }
  .socialLinks{
    position: fixed;
    display: block;
    padding: 0;
    margin: 0;
    right: 5px;
    bottom: 75px;
    height: 100px;
    width: 35px;
  }
  .socialLinks li{
    width: 35px;
    height: 35px;
  }
  .socialLinks a, .socialLinks img{
    width: 35px;
    height: 35px;
  }
  .logo img{
    width: 80px;
  }
  /* section styles */
  .splash{
    margin: 0 auto;
    height: 100vh;
    width: 175px;
  }
  .splashCanvas{
    height: 175px;
    width: 175px;
  }
  .rBox2{
    height: 175px;
    width: 175px;
  }
  .rBox{
    height: 175px;
    width: 175px;
  }
  .GridParent{
    padding-bottom: 50px;
  }
  .GridItem-square .GridItem-content {
    padding: 3px;
  }
  .GridItem-landscape .GridItem-content {
    height: 150px;
    padding: 3px;
  }
  .page .GridItem-content{
    padding: 3px;
  }
  .GridItem-title{
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
  }
  /* page styles */
  .page{
    margin: 50px auto 0 auto;
    padding-bottom: 0px;
  }
  .pageHeader{
    padding-bottom: 0px;
    font-size: 15px;
    margin: 0 auto;
    width: 100%;
  }
  .cinemaContainer{
  	margin-top: 25px;
  }
  .pageImage{
    margin-top: 25px;
  }
  .pageLink{
    margin-top: 25px;
    font-size: 12px;
  }
  .pageDetails{
    font-size: 12px;
  }
  .pageDetails p, .pageDetails blockquote{
    padding: 25px 0;
    margin-bottom: 0;
  }
}
